{{define "page_edit"}}
{{template "partial_header" .}}
<form action="{{.SavePagePath}}" method="post">
    <div class="form-group">
        <label for="nameTextInput" class="">Topic Title</label>
        <input type="text" class="form-control form-control-lg tg-title-text-input" id="nameTextInput" name="page_name" value="{{.PageName}}">
    </div>

    <div class="form-group">
        <textarea
            id="pageContentEditor"
            class="form-control"
            rows="20"
            name="page_content">{{.PageContent}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">{{if .PageExists}}Save{{end}}{{if not .PageExists}}Create{{end}}</button>
</form>
{{template "partial_footer" .}}
{{end}}
