{{define "page_edit"}}
{{template "partial_header" .}}
<form action="{{.SavePagePath}}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="page_name" value="{{.PageName}}">
    </div>
    <div>
        <label for="content">Content:</label>
        <textarea id="content" name="page_content">{{.PageContent}}</textarea>
    </div>

    <div class="button">
        <button type="submit">{{if .PageExists}}Save{{end}}{{if not .PageExists}}Create{{end}}</button>
    </div>
</form>
{{template "partial_footer" .}}
{{end}}
