{{define "partial_header"}}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{{.HeaderTitle}}</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/bootstrap-4.0.0-alpha.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/tradgard.css">
</head>

<body>

    <br>
    <div class="container">

        <div class="float-sm-right">
            {{if .Context.Get "username" }}
                {{if .Context.Get "showEditButton"}}
                    <span class="tg-nav-actions">
                        <a href="{{.EditPagePath}}" class="btn btn-outline-success"><i class="fa fa-pencil"></i> Edit Page</a>
                    </span>
                {{end}}

                <span class="tg-nav-username">
                    <i class="fa fa-user-circle"></i> {{.Context.Get "username"}}
                </span>
            {{end}}

            <span class="tg-nav-user-actions">
                {{if .Context.Get "username" }}
                    <a class="btn btn-outline-secondary" href="/user/logout" role="button"><i class="fa fa-sign-out"></i> Sign Out</a>
                {{else}}
                    <a class="btn btn-outline-secondary" href="/user/login" role="button"><i class="fa fa-sign-in"></i> Sign In</a>
                {{end}}
            </span>
        </div>

        <div>
            <span class="tg-main-logo"><a href="/">{{.SiteName}}</a></span>
            <span class="tg-nav-item"><a href="/Home"><i class="fa fa-home"></i></a></span>
        </div>

        <hr class="tg-nav-hr">

    </div>

    <div class="container">
{{end}}
